.a {
            width: 128px;
            height: 47px;
            left: 1011px;
            top: 190px;
            position: absolute;
            text-align: center;
            text-decoration: underline;
        }

        .b {
            width: 128px;
            left: 1007px;
            top: 325px;
            position: absolute;
            text-align: center;
        }

        .mainBox:hover {
            background: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
            border: 1px black solid
        }

        body {
            margin: 0;
            padding: 0;
            background-image: url('Images/MainImages/BackgroundArbre.png');
            background-size: 100vw 100vh;
            background-repeat: no-repeat;
            background-attachment: fixed; /* This ensures the background doesn't scroll */
        }

        .custom-label {
            width: 100%;
            text-align: center;
            color: black; /* Initial text color */
        }

            .custom-label.clicked {
                color: white; /* Text color when clicked */
            }
